@{
    Layout = "_layout";
}
   
    <!-- ----------------------------- -->

    <section id="home">
        <p id="handora">Handora</p>
        <p id="hand">Hand in Hand</p>
        <!-- <a href="">Products ⇨</a> -->
    </section>

    <!-- ----------------------------- -->
    <article id="search">
        <div>
            <label for="se"> Describe what you&rsquo;re looking for </label>
            <input id="se" type="text" placeholder=" Write here ...">
            <button> search</button>
        </div>
    </article>

    <!-- ----------------------------- -->
    <section id="products">
        <h1>Featured Products</h1>
        <div id="items">
            <div class="card">
                <div id="o" class="productimg"></div>
                <div class="headprice">
                    <a href="" class="name">EcoWeave </a>
                    <p>$300.00</p>
                </div>

                <a href="">Rattan Storage Basket Set</a>

                <button class="cart"> Add To Cart</button>
            </div>
            <div class="card">
                <div id="t" class="productimg"></div>
                <div class="headprice">
                    <a href="" class="name">BloomGlass</a>
                    <p>$150.00</p>
                </div>
                <a href="">Decorative Vase Collection </a>

                <button class="cart"> Add To Cart</button>
            </div>
            <div class="card">
                <div id="th" class="productimg"></div>
                <div class="headprice">
                    <a href="" class="name">LeafLoom</a>
                    <p>$500.00</p>
                </div>
                <a href=""> Boho Wall Hanging</a>

                <button class="cart"> Add To Cart</button>
            </div>
            <div class="card">
                <div id="f" class="productimg"></div>
                <div class="headprice">
                    <a href="" class="name">MugMix </a>
                    <p>$250.00</p>
                </div>
                <a href="">Designer Ceramic Cup Set</a>

                <button class="cart"> Add To Cart</button>
            </div>

        </div>
        <a href="" id="pro">More Products  &rarr;</a>
    </section>

    <!-- ----------------------------- -->

    <section id="about">
        <div id="text">
            <p id="tit">Make it with your hands? Let the world see it.</p>
            <p>
                Join a community that celebrates every handmade piece and helps you turn your passion into profit.
                Discover our story and how we can grow together...
            </p>
            <a href="about.html">Learn More About Us...</a>
        </div>
        <div id="img"></div>

    </section>

    <!-- ----------------------------- -->

    <section id="advant">
        <h2> Why Choose Our Handmade Marketplace? </h2>
        <div id="pros">

            <div class="all">
                <div class="imgg" id="handd"></div>
                <p> Handmade with Love</p>
            </div>
            <div class="all">
                <div class="imgg" id="com"></div>
                <p>  Seller & Buyer Community</p>
            </div>
            <div class="all">
                <div class="imgg" id="lock"></div>
                <p> Secure Payments</p>
            </div>
            <div class="all">
                <div class="imgg" id="van"></div>
                <p> Fast & Safe Delivery</p>
            </div>
        </div>
    </section>

    <!-- ----------------------------- -->
    <article id="revolution">
        <h2>Meet the handmade revolution.</h2>
        <p>
            Every piece tells a story—crafted with care, passion, and personality. We believe in the beauty of slow creation, where each item holds the warmth of human touch.
            Mass production may be faster, but it can’t match the soul of handmade. That’s where we come in.
        </p>
    </article>

    <!-- ----------------------------- -->
    <article id="imgsec">
        <h2>Handmade Treasures, Just for You</h2>

        <p>Browse our collection of unique, handcrafted items waiting to be yours.</p>


        <a href="">Shop Our Products</a>
    </article>

    <!-- ----------------------------- -->
    
   


