.in{

    margin-left: 10px;
    display: inline-block;
}
#display{
    display: none;
}
.btn{
 
    border: 1px solid black;
    border-radius: 5px;
    width:100px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgb(254, 75, 32);
    font-weight: bold;
    color: white;
    border: 1px solid rgb(254, 75, 32);
}
#imgsize{
   display: block;
    margin: 10px auto 0;
    
}


#btns{
    margin-bottom: 10px;
}
#clickbtn{
    display :block;
   
    /* margin: 0 auto; */
    background-color: rgb(35, 78, 105);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(35, 78, 105) ;
    width: 20% ;
    height: 35px;
     margin-left: 20px;
}
